<style type="text/css">
        .colorgraph {
  height: 15px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
}
h2{
    color: white;
}
</style>

<div class="row" style="margin-top:20px" ng-controller="registration">
    <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
        <form role="form">
            <fieldset>
                <h2>Please Sign UP</h2>
                <hr class="colorgraph">
                 <div class="form-group">
                    <input type="text" name="name" id="name" class="form-control input-lg" placeholder="First Name" ng-model="reg.FIRSTNAME">
                </div>
                   <div class="form-group">
                    <input type="text" name="name" id="lname" class="form-control input-lg" placeholder="Last Name" ng-model="reg.LASTNAME">
                </div>
                <div class="form-group">
                    <input type="email" name="email" id="email" class="form-control input-lg" placeholder="Email Address" ng-model="reg.EMAIL" ng-blur="emailCheck()">
                </div>
                  <div class="alert alert-danger" id="mail" style="display:none">
                       <strong>Warning!</strong> please enter a proper format of email
                  </div>
                <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Password" ng-model="reg.PASSWORD">
                </div>
                 <div class="alert alert-danger" id="pass" style="display:none">
                     <strong>Warning!</strong> please enter alphnumaric password with atleast one special character
                </div>
                 <div class="form-group">
                    <input type="password" name="password" id="password" class="form-control input-lg" placeholder="Confirm Password" ng-model="confirm">
                </div>

                
                <hr class="colorgraph">
                <div class="row">
                   
                    <div class="col-xs-6 col-sm-6 col-md-6">
                        <a ui-sref="signup" class="btn btn-lg btn-primary btn-block" ng-click="register()">Register</a>
                    </div>
                     <div class="col-xs-6 col-sm-6 col-md-6">
                        <a ui-sref="login" class="btn btn-lg btn-success btn-block" >Sign In</a>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
     <div class="alert alert-success" id="success" style="display:none">
                 <strong>Success</strong> Successfully Registered
            </div>
 <div class="alert alert-danger alert-dismissable" id="confirm" style="display:none">
            Warning! password did not match.
        </div>
         <div class="alert alert-danger alert-dismissable" id="emailExist" style="display:none">
            Warning! this email is alredy exist.
        </div>
</div>

